body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    margin-left: 200px;
    padding: 0;
    justify-content:left;
    align-items: center;
    height: 100vh;
    display:flex;
}

.container {
    background: #fefefe;
    padding: 20px;
    border-radius: 10px;
    color: green;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align:left;
    display: inline;
}

#typed-text {
    font-size: 1.75rem;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    display: inline-block;
}


.lvd {
    display: inline-flex;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.links a:hover {
    text-decoration: underline;
}

.connect {
    color: transparent;
    display: inline-block;
    font-size:22px;
    text-shadow: 0 0 0 #bebebe;
}

.resume {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none;
}

.dark-mode {
    background-color: #121212;
}

.dark-mode .container {
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: inline;
}

.dark-mode .links {
    background-color: gold;
    display: inline-block;
    padding-top: 4px;
}
