body {
    font-family: Arial, sans-serif;
    background-color: green;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display:flex;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline;
}

.lvd {
    display: inline-flex;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.links a:hover {
    text-decoration: underline;
}

.connect {
    color: transparent;
    display: inline-block;
    font-size:22px;
    text-shadow: 0 0 0 #bebebe;
}

.resume {
    margin: 10px;
    text-decoration:none;
}

.dark-mode {
    background-color: #121212;
}

.dark-mode .container {
    background: plum;
    padding: 20px;
    border-radius: 10px;
    color: #121212;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline;
}
