<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="./static/script.js"></script>
</head>
<body>
    
    <div class="container">
        <h1 id="heading"> Welcome to my portfolio! </h1>
        <h3> Hello&#128075, I'm Srivaishnavi! </h3>
        <p>Python&#128013 &#128205 ML&#128640 &#128205 Research&#128270</p>
        <h4>Let's connect <div class="connect"> &#128490 </div></h4>

        <div class="links">
            <a href="http://x.com/y_svaish" target="blank"> <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/x.svg" title = "X"/> </a>
            <a href="http://linkedin.com/in/srivaishnavi-yaddanapudi/" target="blank"><img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/linkedin.svg" title="LinkedIn"/> </a>
            <a href="https://github.com/Y-Srivaishnavi" target="_blank"> <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/github.svg"> </a>
        </div>

        <div class="resume">
        <button><a href="../static/my_resume.pdf" target="_blank"> View my CV!</a></button>
        </div>
        <div class="lvd">
            <button id="toggleDarkMode"><img height="20" width="20" src="{{ url_for('static', filename='moon.svg') }}" title="Dark mode" /></button>
        </div>
        
    </div>
</body>
</html>
