.logo_container {
    background: #fefefe;
    padding: 20px;
    border-radius: 10px;
    /* display: inline-flex; */
    position: fixed;
    top: 170px;
    left: 600px;
    width: 400px;
    height: 300px;
}

#python_logo {
    position: absolute;
    top:120px;
    left:170px;
    height:75px;
    width:75px;
}

#tf_logo {
    position: absolute;
    top:100px;
    left:270px;
    height:45px;
    width:40.35px;
}

#pd_logo {
    position: absolute;
    top:200px;
    left:100px;
    height:50px;
    width:31.5px;
}

#java_logo {
    position: absolute;
    top:80px;
    left:100px;
    height:50px;
    width:50px;
}

#c_logo {
    position: absolute;
    top:200px;
    left:270px;
    height:46.7px;
    width:42.3px;
}



/* .skill-logo {
    position: absolute;
    right: 10px; 
    opacity: 0; 
    animation: fadeIn 2s ease-out forwards; 
    width: 50px;
    height: 50px;
} 

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

.dark-mode .logo_container {
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    /* display: inline-flex; */
    position: fixed;
    top: 170px;
    left: 600px;
    width: 400px;
    height: 300px;
}